# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C Extensions
*.so

# PyCharm
.idea/

# Virtual environment
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.out

# Model weights / results
*.pth
*.pt
checkpoints/
outputs/

# Datasets
data/
*.csv
*.tsv
*.json
*.zip

# Cache
*.cache
.cache/
*.pkl
